#ownBackground {
    background-image: url(../../assets/images/dark_theme_background.jpg);
    /* color: rgb(87, 180, 87); */

}

#nameTextSpace {
    letter-spacing: 3px;
}

#selfImage {
    
}


.well {
    background-color: rgba(54, 54, 54, 0.767);
}

.col-centered {
  float: none;
  margin: 0
}

#pseudoClass {
  margin-top: 100px;

}

#customTextOnCard p {
  font-size: 12px;
}

.nounderline:hover {
  text-decoration: none;

}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;

}

/* took from a secondary-source to align text on top of an image in a 'card' */

/* .card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
    
  .card-img-caption .card-img-top {
    z-index: 0;
  }
      
  .card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 33% 0;
    position: absolute;
    z-index: 1;
  } */